:root {
  --background: #43596b;
  --div-background: #ced1d2dd;
  --input-background: #96a9bdba;
  --input-background-darker: #7690a2ba;
  --input-background-darkest: #7690a2ff;
  --input-foreground: #0e233c;
}

body {
  /* background-color: var(--background); */
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  background-color: var(--div-background);
  border-radius: 20px;
}

header {
  color: var(--light-grey);
}

button {
  font-size: 20px;
}
